<div class="fullBodyAboutMe">

    <img src="" alt="selfie">

    <div class="aboutMe">
        <p>Who I Am</p>
        <div>
            <p class="headline">About me</p>
            <p>Hi, I’m a german speaking Frontend Developer based in Ingolstadt. Motivated by the limitless
                opportunities
                within IT, I am excited about crafting visually captivating and intuitive websites and applications.</p>

            <div>
                <img src="/img/aboutme/location.svg" alt="">
                <p>Flexible in terms of working environments,
                    I can work effectively both on-site in Ingolstadt and remotely.
                </p>
            </div>
            <div>
                <img src="/img/aboutme/openMinded.svg" alt="">
                <p>I am open-minded and always looking for personal challenges to constantly improve my knowledge and
                    skills.</p>
            </div>
            <div>
                <img src="/img/aboutme/check.svg" alt="">
                <p>
                    In my profession, programming isn't just about writing code; it's a creative form of
                    problem-solving. I take pride in my ability to distill complex technical challenges into simple,
                    user-friendly solutions. This way, I help you achieve your goals and bring your visions to life.
                </p>
            </div>
        </div>
    </div>
</div>