<div class="fullBodyAboutMe" [@aboutMeAnimation]="startAnimation ? 'start' : 'void'">

    <img src="/img/aboutme/selfie.jpg" alt="selfie">

    <div class="aboutMe">
        <p>{{ "ABOUT-ME.WHOIAM" | translate }}</p>
        <div>
            <p class="headline">{{ "ABOUT-ME.ABOUTME" | translate }}</p>
            <p>{{ "ABOUT-ME.INTRODUCTION" | translate }}</p>

            <div>
                <img src="/img/aboutme/location.svg" alt="">
                <p>{{ "ABOUT-ME.ENVIRONMENT" | translate }}
                </p>
            </div>
            <div>
                <img src="/img/aboutme/openMinded.svg" alt="">
                <p>{{ "ABOUT-ME.OPENMIND" | translate }}</p>
            </div>
            <div>
                <img src="/img/aboutme/check.svg" alt="">
                <p>{{ "ABOUT-ME.PROFESSION" | translate }}</p>
            </div>
        </div>
    </div>
</div>