p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.fullBodyPortfolio {
    display: flex;
    flex-direction: column;
    padding-left: 96px;
    box-sizing: border-box;
    padding-top: 32px;
    padding-bottom: 32px;
    max-width: 1920px;
    width: 100%;

    div {



        >p {
            color: rgba(61, 207, 182, 1);
            font-size: 24px;
            font-weight: 700;
            line-height: 28.06px;
            font-family: "Karla";
        }

        >h1 {
            font-size: 64px;
            color: rgba(61, 207, 182, 1);
            line-height: 64px;
        }

        >span {
            font-size: 18px;
            line-height: 21.6px;
            font-family: "Karla";
        }
    }



    .myProjects {
        margin-top: 60px;

        .projectContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;

            >img {
                position: absolute;
                width: 296px;
                height: 192px;
                border-radius: 16px;
                right: 96px;
                box-shadow:
                    10px 10px 20px rgba(61, 207, 182, 0.4),
                    /* Weicher, großer Schatten */
                    0px 5px 15px rgba(61, 207, 182, 0.6);
                /* Tieferer, fokussierter Schatten */
                ;
            }
        }


        .project {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 60%;
            max-width: 880px;
            padding: 40px 32px 40px 32px;
            border-top: 1px solid rgba(61, 207, 182, 1);
            cursor: pointer;

            div {
                display: flex;
                gap: 4px;
            }

            &:hover {
                background-color: rgba(61, 207, 182, 0.3);
            }

            >span {
                font-size: 24px;
                font-weight: 700;
            }
        }

        .lastProject {
            border-bottom: 1px solid rgba(61, 207, 182, 1);
        }
    }

}

app-project {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000080 !important;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


@media (min-width:320px) and (max-width:650px) {

    .fullBodyPortfolio {
        padding: 8px 16px;



        div {

            >p {
                font-size: 18px;
            }

            h1 {
                font-size: 56px;
                margin-block-start: 0;
            }

            >span {
                font-size: 16px;
            }
        }


        .project {
            flex-direction: column;
            width: 100% !important;
            padding: 32px 16px !important;
            align-items: flex-start !important;
            gap: 4px;

            div {

                span {
                    font-size: 18px;
                }
            }
        }
    }
}