<div class="fullBodyPortfolio">
    <div>
        <p>
            Portfolio
        </p>

        <h1>
            Featured Projects
        </h1>

        <span>
            Explore a selection of my work here - Interact with <br>projects to see my skills in action.
        </span>

        <div class="myProjects">
            <div class="project">
                <span>Join</span>
                <div>
                    <span>Angular</span>
                    <img src="/img/portfolio/|.svg" alt="|">
                    <span>TypeScript</span>
                    <img src="/img/portfolio/|.svg" alt="|">
                    <span>HTML</span>
                    <img src="/img/portfolio/|.svg" alt="|">
                    <span>CSS</span>
                    <img src="/img/portfolio/|.svg" alt="|">
                    <span>Firebase</span>
                </div>
            </div>
        </div>
    </div>


</div>