<div class="fullBodySkillset">
    <div class="leftside">
        <p>{{ "SKILL-SET.TECHNOLOGIES" | translate }}</p>

        <div>
            <p class="headline">{{ "SKILL-SET.SKILLSET" | translate }}</p>

            <p class="journeyText">{{ "SKILL-SET.JOURNEY" | translate }}</p>

            <p class="needText">{{ "SKILL-SET.NEED" | translate }}<span> {{ "SKILL-SET.ANOTHERSKILL" | translate }}</span></p>

            <p class="contactMe">{{ "SKILL-SET.CONTACTME" | translate }}</p>


            <button>{{ "SKILL-SET.TALK" | translate }}</button>
        </div>
    </div>



    <div class="rightside">
        <div *ngFor="let image of skillImages" class="skill-container" (mouseover)="onHover(image)"
            (mouseleave)="onHover(null)">
            <!-- Tooltip nur für das letzte Bild -->
            <div class="growthHover"
                *ngIf="hoveredImage?.name === 'Growth mindset' && image.name === 'Growth mindset'">
                <p>I have a special interest in learning</p>
                <div>
                    <div>
                        <img src="/img/skillset/react.svg" alt="React">
                        <p>React</p>
                    </div>
                    <div>
                        <img src="/img/skillset/vue.svg" alt="Vue JS">
                        <p>Vue Js</p>
                    </div>
                </div>
            </div>

            <img [src]="image.src" alt="web skill logos">
            <span>{{ image.name }}</span>
        </div>
    </div>


</div>