<div class="fullBodySkillset">
    <div class="leftside">
        <p>Technologies</p>

        <div>
            <p class="headline">
                Skill Set
            </p>

            <p class="journeyText">
                My journey has involved working on diverse projects, employing a range of frontend technologies and
                concepts. I am open to embracing new technologies and methodologies to Continously enhance my skills and
                stay ahead in the ever-evolving landscape of web development.
            </p>

            <p class="needText">
                You need <span>another skill?</span>
            </p>

            <p class="contactMe">
                Feel free to contact me. I look forward to expanding on my previous knowledge.
            </p>


            <button>
                Let's talk
            </button>
        </div>
    </div>



    <div class="rightside">
        <div *ngFor="let image of skillImages" class="skill-container" (mouseover)="onHover(image)"
            (mouseleave)="onHover(null)">
            <!-- Tooltip nur für das letzte Bild -->
            <div class="growthHover"
                *ngIf="hoveredImage?.name === 'Growth mindset' && image.name === 'Growth mindset'">
                <p>I have a special interest in learning</p>
                <div>
                    <div>
                        <img src="/img/skillset/react.svg" alt="React">
                        <p>React</p>
                    </div>
                    <div>
                        <img src="/img/skillset/vue.svg" alt="Vue JS">
                        <p>Vue Js</p>
                    </div>
                </div>
            </div>

            <img [src]="image.src" alt="web skill logos">
            <span>{{ image.name }}</span>
        </div>
    </div>


</div>