<header>
    <div class="leftSide">
        <div class="languageChange">
            <div class="EN" [class.active]="isEngActive" (click)="setActiveLanguage('EN')">
                <p>EN</p>
            </div>
            <div class="DE" [class.active]="isGerActive" (click)="setActiveLanguage('DE')">
                <p>DE</p>
            </div>
        </div>

        <a class="link" href="#aboutMe">About me</a>
        <a class="link" href="#skill">Skills</a>
        <a class="link" href="#portfolio">Projects</a>
    </div>

    <div>
        <a routerLink="/" class="myLogo"><img src="/img/UO-Logo.png" alt="logo"></a>
    </div>
</header>

<div class="d-none headerResponsive">
    <img class="small_Logo" src="/img/small-logo.png" alt="small-logo">
    <img src="/img/landingpage/menu_icon.svg" alt="menu_icon" (click)="openHeaderContainer()">
</div>


<div class="burger-menu" [class.visible]="isLinkContainerVisible" [class.hidden]="!isLinkContainerVisible" (click)="onBurgerMenuClick($event)">
    <app-burger-menu />
</div>
