header {
    padding-left: 96px;
    padding-right: 96px;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    height: 15%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
    position: absolute;
    top: 0;


    div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
        box-sizing: border-box;

        a {
            color: white;
            text-decoration: none;
            font-size: 20px;
            position: relative;
            display: inline-block;
            height: 24px;
            line-height: 24px;

            &:hover {
                transform: scale(1.05);
                transition: transform 0.2s ease;
                cursor: pointer;
            }


            &::after {
                content: '';
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: -4px;
                width: 6px;
                height: 6px;
                background-color: rgba(61, 207, 182, 1);
                border-radius: 50%;
                opacity: 0;
                transition: opacity 0.3s ease;
            }

            &:hover::after {
                opacity: 1;
            }
        }
    }

    .languageChange {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 !important;
        border: 1px solid rgba(61, 207, 182, 1);
        width: 84px;
        height: 28px;
        border-radius: 100px;
        cursor: pointer;
        box-sizing: border-box;
        color: rgba(61, 207, 182, 0.6);
        font-size: 14px;
    
        .DE {
            width: 100%;
            height: 100%;
        }
    
        .EN {
            width: 100%;
            height: 100%;
        }
    
    }
    
    .languageChange div.active {
        background-color: rgb(61, 207, 182);
        color: white;
        border-radius: 100px;
        width: 100%;
        height: 28px;
        box-sizing: border-box;
    }
    
    .languageChange div:not(.active) {
        &:hover {
            color: rgba(61, 207, 182, 1);
        }
    }


}