<header>
    <div>
        <div class="languageChange">
            <div class="EN" [class.active]="isEngActive" (click)="setActiveLanguage('EN')">
                <p>EN</p>
            </div>
            <div class="DE" [class.active]="isGerActive" (click)="setActiveLanguage('DE')">
                <p>DE</p>
            </div>
        </div>

        <a href="">About me</a>
        <a href="">Skills</a>
        <a href="">Projects</a>
    </div>

    <div>
        <h2>Ufuk Özsahin</h2>
    </div>
</header>