app-landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);
}

app-about-me, app-contact{
    display: flex;
    justify-content: center;
    align-items: center;
}

app-skill-set {
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(22.43% 43.85% at 1.22% 52.45%, rgba(8, 70, 59, 0.3) 0%, #1C1C1C 100%);
}

app-portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
}