<div class="projectDescription">
    <div class="testProject">
        <div class="testProjectHeadline">
            <h1>{{ id }}</h1>
            <h2>{{ name }}</h2>
        </div>
        <span>What is this project about?</span>
        <p>{{ description }}</p>
        <div class="usedTechStack">
            <div>
                <img src="/img/portfolio/blueJS.svg" alt="js">
                <span>Javascript</span>
            </div>

            <div>
                <img src="/img/portfolio/blueHTML.svg" alt="html">
                <span>HTML</span>
            </div>

            <div>
                <img src="/img/portfolio/blueCSS.svg" alt="css">
                <span>CSS</span>
            </div>
        </div>
    </div>

    <div class="imageProject">
        <img src="/img/portfolio/closeWhite.svg" alt="close">
        <img src="/img/portfolio/elpolloloco.png" alt="">
        <div>
            <span>Next project</span>
            <img src="/img/portfolio/arrowBlue.svg" alt="arrow right">
        </div>
    </div>
</div>