<div class="projectDescription">
    <div class="testProject">
        <div class="testProjectHeadline">
            <h1>{{ id }}</h1>
            <h2>{{ name }}</h2>
        </div>
        <div class="projectText">
            <span>What is this project about?</span>
            <p>{{ description }}</p>
            <div class="usedTechStack">
                <!-- Dynamische Generierung des Tech-Stacks -->
                <div *ngFor="let tech of techStack; let i = index">
                    <img [src]="stackLogo[i]" [alt]="tech">
                    <span>{{ tech }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="imageProject">
        <img class="closeLogo" [src]="changeCloseImageSource" alt="close" (click)="select.emit()"
            (mouseenter)="isCloseImageHovered = true" (mouseleave)="isCloseImageHovered = false">
        <img class="imageLogo" [src]="image" [alt]="name">
        <div>
            <span>Next project</span>
            <img src="/img/portfolio/arrowBlue.svg" alt="arrow right">
        </div>
    </div>
</div>