<div class="projectDescription">

    <!-- button to close the component -->
    <img class="closeLogo" [src]="changeCloseImageSource" alt="close" (click)="select.emit()"
            (mouseenter)="isCloseImageHovered = true" (mouseleave)="isCloseImageHovered = false">


    <div class="TextButtonImageArea">
        <div class="testProject">
            <div class="testProjectHeadline">
                <h1>{{ id }}</h1>
                <h2>{{ name }}</h2>
            </div>
            <div class="projectText">
                <span>{{ "PORTFOLIO.PROJECT.ABOUT" | translate }}</span>
                <p>{{ translatedDescription }}</p>
                <div class="usedTechStack">
                  <div *ngFor="let tech of techStack; let i = index">
                    <img [src]="stackLogo[i]" [alt]="tech">
                    <span>{{ tech }}</span>
                  </div>
                </div>
              </div>
              
    
            <div class="testingGitButton">
                <a [href]="git"><button>Github <img src="/img/portfolio/blueArrowTopRight.svg" alt="arrow"></button></a>
                <a [href]="link"><button>Livetest <img src="/img/portfolio/blueArrowTopRight.svg" alt="arrow"></button></a>
            </div>
        </div>
    
        <!-- Image Logo of project -->
        <div class="imageProject">
            
            <img class="imageLogo" [src]="image" [alt]="name">
            
        </div>
    </div>
   

    <!-- nächstes projekt unten rechts bereich -->
    <div class="nextProject" (click)="changeProject()">
        <span>{{"PORTFOLIO.PROJECT.NEXT" | translate}}</span>
        <img src="/img/portfolio/arrowBlue.svg" alt="arrow right">
    </div>
</div>