<div class="landingPage">

    <main>
        <div class="leftSide">
            <div>
                <img src="/img/landingpage/arrow_bottom.svg" alt="arrow-bottom">
            </div>
            <img src="/img/landingpage/line_left.svg" alt="line">
        </div>


        <div class="middleSide">
            <p class="jobName">Frontend Developer</p>
            <p class="myName">Ufuk Özsahin</p>
            <div class="buttonSection">
                <a href="#portfolio"><button>Check my work</button></a>
                <a href="#contact"><button>Contact me</button></a>
            </div>
        </div>


        <div class="rightSide">
            <a class="mailLink" href="mailto:info@ufuk-oezsahin.de"><p>{{email}}</p></a>
            <a class="d-none mailImg" href="mailto:info@ufuk-oezsahin.de"><img src="/img/landingpage/mail.svg" alt="mailto"></a>
            <a target="_blank" href="https://github.com/Ufuk95"><img src="/img/landingpage/github.svg" alt="github"></a>
            <a target="_blank" href="https://www.linkedin.com/in/ufuk-oezsahin/"><img src="/img/landingpage/linkedin.svg" alt="linkedIn"></a>
            <img class="rightSideLine" src="/img/landingpage/line_right.svg" alt="">
        </div>
    </main>



    <footer>
        <div class="scroll-wrapper">
            <div class="scroll-content">
                <p class="padding">Available for remote work</p>
                <img class="padding" src="/img/landingpage/radio_button.svg" alt="">
                <p class="padding">Frontend Developer</p>
                <img class="padding" src="/img/landingpage/radio_button.svg" alt="">
                <p class="padding">Based in Ingolstadt</p>
                <img class="padding" src="/img/landingpage/radio_button.svg" alt="">
                <p class="padding">Open to work</p>
                <img class="padding" src="/img/landingpage/radio_button.svg" alt="">
            </div>
        </div>
    </footer>



</div>