<div>
    <h1>{{"PRIVACY-POLICY.1.TITLE" | translate}}</h1>

    <h2>{{"PRIVACY-POLICY.1.OVERVIEW.TITLE" | translate}}</h2>

    <h3>{{"PRIVACY-POLICY.1.OVERVIEW.GENERAL.TITLE" | translate}}</h3>
    <p>{{"PRIVACY-POLICY.1.OVERVIEW.GENERAL.TEXT" | translate}}</p>
    
    <h3>{{"PRIVACY-POLICY.1.OVERVIEW.DATA-COLLECTION.TITLE" | translate}}</h3>
    <p>
        <strong>{{"PRIVACY-POLICY.1.OVERVIEW.DATA-COLLECTION.WHO" | translate}}</strong><br>
        {{"PRIVACY-POLICY.1.OVERVIEW.DATA-COLLECTION.WHO-DETAIL" | translate}}
    </p>
    <p>
        <strong>{{"PRIVACY-POLICY.1.OVERVIEW.DATA-COLLECTION.HOW" | translate}}</strong><br>
        {{"PRIVACY-POLICY.1.OVERVIEW.DATA-COLLECTION.HOW-DETAIL" | translate}}
    </p>

    <h3>{{"PRIVACY-POLICY.1.OVERVIEW.DATA-COLLECTION.WHY" | translate}}</h3>
    <p>{{"PRIVACY-POLICY.1.OVERVIEW.DATA-COLLECTION.WHY-DETAIL" | translate}}</p>

    <h3>{{"PRIVACY-POLICY.1.OVERVIEW.DATA-COLLECTION.RIGHTS.TITLE" | translate}}</h3>
    <p>{{"PRIVACY-POLICY.1.OVERVIEW.DATA-COLLECTION.RIGHTS.TEXT" | translate}}</p>

    <h2>{{"PRIVACY-POLICY.2.TITLE" | translate}}</h2>

    <h3>{{"PRIVACY-POLICY.2.DATA-PROTECTION.TITLE" | translate}}</h3>
    <p>{{"PRIVACY-POLICY.2.DATA-PROTECTION.TEXT" | translate}}</p>

    <h3>{{"PRIVACY-POLICY.2.RESPONSIBILITY.TITLE" | translate}}</h3>
    <p>
        {{"PRIVACY-POLICY.2.RESPONSIBILITY.DETAILS" | translate}}
    </p>
    <p>
        Ufuk Özsahin<br><!-- keine übersetzung -->
        Jurastraße 15<br><!-- keine übersetzung -->
        85129 Oberdolling<br><!-- keine übersetzung -->
        Germany<br><!-- keine übersetzung -->
        Phone: <a href="tel:+4915236253545">+4915236253545</a><br><!-- keine übersetzung -->
        Email: <a href="mailto:{{mail}}">{{mail}}</a><!-- keine übersetzung -->
    </p>
    <p>
        {{"PRIVACY-POLICY.2.RESPONSIBILITY.LEGAL" | translate}}
    </p>

    <h3>{{"PRIVACY-POLICY.2.RIGHTS.REVOKE-CONSENT" | translate}}</h3>
    <p>
        {{"PRIVACY-POLICY.2.RIGHTS.REVOKE-CONSENT-TEXT" | translate}}
    </p>

    <h3>{{"PRIVACY-POLICY.2.RIGHTS.DATA-PORTABILITY" | translate}}</h3>
    <p>
        {{"PRIVACY-POLICY.2.RIGHTS.DATA-PORTABILITY-TEXT" | translate}}
    </p>

    <h3>{{"PRIVACY-POLICY.2.RIGHTS.INFORMATION-BLOCKING-DELETION" | translate}}</h3>
    <p>
        {{"PRIVACY-POLICY.2.RIGHTS.INFORMATION-BLOCKING-DELETION-TEXT" | translate}}
    </p>

    <h3>{{"PRIVACY-POLICY.2.RIGHTS.OPPOSITION-EMAILS" | translate}}</h3>
    <p>
        {{"PRIVACY-POLICY.2.RIGHTS.OPPOSITION-EMAILS-TEXT" | translate}}
    </p>

    <h2>{{"PRIVACY-POLICY.3.TITLE" | translate}}</h2>

    <h3>Cookies</h3> <!-- keine übersetzung -->
    <p>
        {{"PRIVACY-POLICY.3.COOKIES.TEXT" | translate}}
    </p>
    <p>
        {{"PRIVACY-POLICY.3.COOKIES.TEXT2" | translate}}
    </p>
    <p>
        {{"PRIVACY-POLICY.3.COOKIES.TEXT3" | translate}}
    </p>

    <h3>{{"PRIVACY-POLICY.3.SERVER-LOGS.TITLE" | translate}}</h3>
    <p>
        {{"PRIVACY-POLICY.3.SERVER-LOGS.TEXT" | translate}}
    </p>
    <ul>
        <li>{{"PRIVACY-POLICY.3.SERVER-LOGS.LIST1" | translate}}</li>
        <li>{{"PRIVACY-POLICY.3.SERVER-LOGS.LIST2" | translate}}</li>
        <li>{{"PRIVACY-POLICY.3.SERVER-LOGS.LIST3" | translate}}</li>
        <li>{{"PRIVACY-POLICY.3.SERVER-LOGS.LIST4" | translate}}</li>
        <li>{{"PRIVACY-POLICY.3.SERVER-LOGS.LIST5" | translate}}</li>
        <li>{{"PRIVACY-POLICY.3.SERVER-LOGS.LIST6" | translate}}</li>

    </ul>
    <p>
        {{"PRIVACY-POLICY.3.SERVER-LOGS.DATA" | translate}}
    </p>
    <p>
        {{"PRIVACY-POLICY.3.SERVER-LOGS.BASIS" | translate}}
    </p>

    <h3>{{"PRIVACY-POLICY.3.CONTACT-FORM.TITLE" | translate}}</h3>
    <p>
        {{"PRIVACY-POLICY.3.CONTACT-FORM.TEXT1" | translate}}
    </p>
    <p>
        {{"PRIVACY-POLICY.3.CONTACT-FORM.TEXT2" | translate}}
    </p>
    <p>
        {{"PRIVACY-POLICY.3.CONTACT-FORM.TEXT3" | translate}}
    </p>
<!-- pipe control -->
    <h2>{{"PRIVACY-POLICY.4.TITLE" | translate}}</h2>

    <h3>Google Web Fonts</h3><!-- keine übersetzung -->
    <p>
        {{"PRIVACY-POLICY.4.GOOGLE-WEB-FONTS.CONTENT" | translate}}
    </p>
    <p>
        {{"PRIVACY-POLICY.4.GOOGLE-WEB-FONTS.CONTENT2" | translate}}
        <a href="https://developers.google.com/fonts/faq">https://developers.google.com/fonts/faq</a> 
        {{"PRIVACY-POLICY.4.GOOGLE-WEB-FONTS.CONTENT3" | translate}} <a href="https://www.google.com/policies/privacy/">https://www.google.com/policies/privacy/</a>.
    </p>
    <p>
        {{"PRIVACY-POLICY.4.INFORMATION" | translate}}
        <a href="https://www.google.de/intl/de/policies/privacy/">https://www.google.de/intl/de/policies/privacy/</a>.
    </p>
</div>