<div class="contactFullBody">
  <div class="leftSide">
    <div class="headline">
      <h3>{{"CONTACT.ME" | translate}}</h3>
      <h1>{{"CONTACT.TOGETHER" | translate}}</h1>
    </div>

    <div class="textInfo">
      <span>{{"CONTACT.PROBLEM" | translate}}</span>
      <p>{{"CONTACT.INTEREST" | translate}}</p>
      <p>{{"CONTACT.NEED" | translate}} <span>{{"CONTACT.TALK" | translate}}</span> </p>
    </div>
  </div>


  <div class="rightSide" [@contactAnimation]="startAnimation ? 'start' : 'void'">
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" novalidate>
      <div class="contactForm name">
        <span>{{"CONTACT.FORM.NAME" | translate}}</span>
        <input type="text" name="name" [(ngModel)]="contactData.name" #name="ngModel"
          [placeholder]="'CONTACT.FORM.PLACEHOLDER-NAME' | translate" required />
        <span *ngIf="name.invalid && (name.touched || formSubmitted)" class="error">{{"CONTACT.FORM.ERROR-NAME" |
          translate}}</span>
      </div>

      <div class="contactForm email">
        <span>{{"CONTACT.FORM.MAIL" | translate}}</span>
        <input type="email" name="email" [(ngModel)]="contactData.email" #email="ngModel"
          [placeholder]="'CONTACT.FORM.PLACEHOLDER-MAIL' | translate"
          pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" required />
        <span *ngIf="email.invalid && (email.touched || formSubmitted)" class="error">{{"CONTACT.FORM.ERROR-MAIL" |
          translate}}</span>
      </div>

      <div class="contactForm help">
        <span>{{"CONTACT.FORM.TEXTAREA" | translate}}</span>
        <textarea name="message" [(ngModel)]="contactData.message" #message="ngModel"
          [placeholder]="'CONTACT.FORM.PLACEHOLDER-TEXTAREA' | translate" required></textarea>
        <span *ngIf="message.invalid && (message.touched || formSubmitted)"
          class="error">{{"CONTACT.FORM.ERROR-TEXTAREA" | translate}}</span>
      </div>

      <div class="checkBox">
        <div>
          <img [src]="CheckboxImage" (mouseenter)="isCheckboxHovered = true" (mouseleave)="isCheckboxHovered = false"
            (click)="toggleCheckbox()" alt="checkbox" />
          <p [class.error]="!isCheckboxChecked && formSubmitted">{{"CONTACT.CHECKBOX.READ" | translate}} 
            <a class="privacyLink" routerLink="privacy">{{"CONTACT.CHECKBOX.POLICY" | translate}}</a> {{"CONTACT.CHECKBOX.READ2" | translate}}</p>
          <span *ngIf="!isCheckboxChecked && formSubmitted" class="warning">{{"CONTACT.CHECKBOX.ACCEPT" | translate}}</span>
        </div>
        <div>
          <!-- Statt [disabled], verwenden wir eine Logik in der CSS-Klasse -->
          <button [ngClass]="{ 'valid-button': isFormValid(contactForm), 'invalid-button': !isFormValid(contactForm) }"
            (click)="handleButtonClick(contactForm)">
            {{"CONTACT.CHECKBOX.BUTTON" | translate}}
          </button>
        </div>
      </div>

      <div *ngIf="showNotification" class="notification">
        {{"CONTACT.CHECKBOX.SUCCES" | translate}}
      </div>

      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
    </form>
  </div>
</div>