h3,
h1,
p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.contactFullBody {
    display: flex;
    padding: 96px;
    position: relative;
    gap: 40px;
    max-width: 1920px;

    .leftSide {
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 100%;

        .headline {
            display: flex;
            flex-direction: column;
            gap: 20px;

            h3 {
                font-size: 24px;
                color: rgba(61, 207, 182, 1);
                font-weight: 500;
                line-height: 28.06px;
                font-family: "Karla";
            }

            h1 {
                font-size: 64px;
                color: rgba(61, 207, 182, 1);
                font-weight: 700;
                line-height: 64px;
            }
        }

        .textInfo {
            display: flex;
            flex-direction: column;
            gap: 16px;

            span {
                font-size: 24px;
                color: rgba(61, 207, 182, 1);
                font-weight: 700;

            }

            p {
                font-size: 16px;
                line-height: 19.2px;
                font-family: "Karla";

                span {
                    font-size: 16px;
                    font-family: "Karla";
                }
            }
        }
    }

    .rightSide {
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 100%;
        position: relative;

        .contactForm {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 32px;
            border-top: 1px solid rgba(61, 207, 182, 0.5);
            border-bottom: 1px solid rgba(61, 207, 182, 0.5);
            position: relative;

            &:hover {
                border-top: 1px solid rgba(61, 207, 182, 1);
                border-bottom: 1px solid rgba(61, 207, 182, 1);

                input::placeholder {
                    color: rgba(255, 255, 255, 1);
                }

                textarea::placeholder {
                    color: rgba(255, 255, 255, 1);
                }
            }


            span {
                font-size: 24px;
                line-height: 28.8px;
                color: rgba(61, 207, 182, 1);
                font-weight: 500;
            }

            input {
                height: 22px;
                color: rgb(255, 255, 255);
                background-color: transparent;
                border: none;
                font-size: 18px;
                font-family: "Karla";
            }

            input::placeholder {
                color: rgba(255, 255, 255, 0.7);
            }

            input:focus-visible {
                outline: none;
            }

            textarea {
                color: rgb(255, 255, 255);
                background-color: transparent;
                border: none;
                font-size: 18px;
                font-family: "Karla";
            }

            textarea::placeholder {
                color: rgba(255, 255, 255, 0.7);
            }

            textarea:focus-visible {
                outline: none;
            }


            .error {
                color: red;
                font-size: 0.875rem;
                position: absolute;
                bottom: 0;
            }
        }

        .email {
            position: relative;
            bottom: 1px;
            border-top: 1px solid rgba(61, 207, 182, 0);
        }

        .help {
            position: relative;
            bottom: 1px;
            border-top: 1px solid rgba(61, 207, 182, 0);
        }


        .checkBox {
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            gap: 16px;

            >div {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 8px;
                position: relative;

                img {
                    flex-shrink: 0;
                    align-self: flex-start;
                    cursor: pointer;
                }

                p {
                    margin: 0;
                    text-align: left;
                    word-wrap: break-word;
                    font-size: 15px;
                    line-height: 18px;
                    font-family: "Karla";
                }

                .warning {
                    position: absolute;
                    bottom: -24px;
                    left: 32px;
                    font-size: 12px;
                    color: red;
                }


                button {
                    margin-top: 24px;
                    border: 1px solid rgba(255, 255, 255, 0.5);
                    border-radius: 100px;
                    min-width: 139px;
                    height: 48px;
                    padding: 12px 24px 12px 24px;
                    background-color: transparent;
                    color: rgba(255, 255, 255, 0.7);
                    font-size: 18px;
                    line-height: 21.6px;
                    font-weight: 400;
                    cursor: not-allowed;
                    transition: all 0.3s ease;
                    font-family: "Karla";
                }

                button.valid-button {
                    border: 1px solid rgba(255, 255, 255, 1);
                    color: rgba(255, 255, 255, 1);
                    cursor: pointer;

                    &:hover {
                        border: 1px solid rgba(61, 207, 182, 1);
                        color: rgba(61, 207, 182, 1);
                        box-shadow: 0px 0px 10px rgba(61, 207, 182, 1);
                    }
                }
            }

            .privacyLink {
                color: rgba(61, 207, 182, 1);
                text-decoration: none;
                font-family: "Fira_Code";

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}


@media (min-width:320px) and (max-width:650px) {
    .contactFullBody {
        flex-direction: column;
        padding-left: 16px;
        padding-right: 16px;


        .leftSide {
            .headline {


                h3 {
                    font-size: 18px;
                }
                h1 {
                    font-size: 56px;
                }
            }

            .textInfo {

                span {
                    font-size: 20px;
                }
            }
        }

        .rightSide {

            .contactForm {

                input {
                    font-size: 16px;
                }

                textarea {
                    font-size: 16px;
                }

                span {
                    font-size: 20px;
                }
            }
        }
    }
}

@media (min-width: 700px) and (max-width: 1030px) {
    .contactFullBody {
        flex-direction: column;

        .leftSide .headline h1 {
            font-size: 56px;
        }
    }
}