<div class="contactFullBody">
    <div class="leftSide">
        <div class="headline">
            <h3>Contact me</h3>
            <h1>Let's work together</h1>
        </div>

        <div class="textInfo">
            <span>Got a problem to solve?</span>
            <p>Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing to
                your projects with my work.</p>
            <p>Need a Frontend developer? <span>Let’s talk!</span> </p>
        </div>
    </div>


    <div class="rightSide">
        <form action="">
            <div class="contactForm name">
                <span>What's your name?</span>
                <input type="text" placeholder="Your name goes here">
            </div>
            <div class="contactForm email">
                <span>What's your email?</span>
                <input type="text" placeholder="youremail@email.com">
            </div>
            <div class="contactForm help">
                <span>How can I help you?</span>
                <textarea type="text" placeholder="Hello Ufuk, I am interested in..."></textarea>
            </div>

            <div class="checkBox">
                <div>
                    <img [src]="CheckboxImage" (mouseenter)="isCheckboxHovered = true"
                        (mouseleave)="isCheckboxHovered = false" (click)="toggleCheckbox()" alt="checkbox">
                    <p>I've read the <a href="#">privacy policy</a> and agree to the processing of my data as outlined.
                    </p>
                </div>
                <div>
                    <button disabled="disabled">Say Hello :)</button>
                </div>
            </div>

        </form>
    </div>
</div>