<footer>
    <div class="leftSide">
        <img routerLink="/" class="myLogo" src="/img/UO-Logo.png" alt="logo">
        <div>
            <span>{{"FOOTER.WEB" | translate}}</span>
            <span>{{"FOOTER.LOCATION" | translate}}</span>
        </div>
    </div>


    <span>© Ufuk Özsahin 2024</span>


    <div class="rightSide">
        <a target="_blank" href="https://github.com/Ufuk95">Github</a>
        <a target="_blank" href="https://www.linkedin.com/in/ufuk-oezsahin/">LinkedIn</a>
        <a href="mailto:info@ufuk-oezsahin.de">Email</a>
        <a routerLink="imprint">{{"FOOTER.IMPRINT" | translate}}</a>
    </div>
</footer>